@font-face {
  font-family: 'Noto Sans Japanese';
  src: url('../../../assets/fonts/NotoSansJP-VariableFont_wght.ttf') format('truetype');
  /* Add other font formats (eot, woff, woff2) for cross-browser compatibility */
}

.nihongo-sensei-furigana-container {
  font-size: 2em;
  font-family: "Noto Sans Japanese", sans-serif;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

  height: 1.5em;
  width: auto;

  border-radius: 4px;
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.nihongo-sensei-furigana-kana-text{
  font-size: 0.5em;
  font-family: "Noto Sans Japanese", sans-serif;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

  border-radius: 4px;
  color: white;
  text-align: center;

  margin-bottom: -0.1em;
  margin-left: 0.1em;
}

.nihongo-sensei-furigana-container:hover {
  color: orange;
}