@font-face {
  font-family: 'Noto Sans Japanese';
  src: url('../../../assets/fonts/NotoSansJP-VariableFont_wght.ttf') format('truetype');
  /* Add other font formats (eot, woff, woff2) for cross-browser compatibility */
}

.nihongo-sensei-furigana-container {
  font-size: 2em;
  font-family: "Noto Sans Japanese", sans-serif;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

  border-radius: 4px;
  color: white;
  text-align: center;
}

.nihongo-sensei-furigana-kana-text{
  font-size: 0.3em;
  font-family: "Noto Sans Japanese", sans-serif;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

  border-radius: 4px;
  color: white;
  text-align: center;
}

.nihongo-sensei-furigana-container:hover {
  color: antiquewhite;
}