@font-face {
  font-family: 'Noto Sans Japanese';
  src: url('../../../assets/fonts/NotoSansJP-VariableFont_wght.ttf') format('truetype');
  /* Add other font formats (eot, woff, woff2) for cross-browser compatibility */
}

.nihongo-sensei-japanese-sentence-container{
  width: auto;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: flex-start;
  margin-left: 50px;
}
